ion-datetime-button::part(native) {
  background: #3a3a5c;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
}

ion-datetime-button::part(native) {
  background: #3a3a5c;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
}

ion-datetime-button {
  margin-top: 8px;
}

.dodaj-btn {
  --color: #a78bfa;
  border: 0.5px solid rgba(139, 92, 246, 0.6);
  border-radius: 20px;
  font-size: 13px;
  text-transform: none;
}

.logout-btn {
  --color: #a78bfa;
  border: 0.5px solid rgba(139, 92, 246, 0.6);
  border-radius: 20px;
  font-size: 13px;
  margin-right: 8px;
  text-transform: none;
}