<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="moji-treninzi" href="/zaposleni/moji-treninzi">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Treninzi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistika" href="/zaposleni/statistika">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Statistika</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onLogOut()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Odjavi se</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>