<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/klijent/treninzi"></ion-back-button>
    </ion-buttons>
    <ion-title>Moji termini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let termin of termini">
      <ion-label>
        <h2>{{ termin.naziv }}</h2>
        <p>{{ termin.datum | date:'dd.MM.yyyy HH:mm' }}</p>
        <p>Trener: {{ termin.trenerIme }}</p>
      </ion-label>
      <ion-button
        slot="end"
        fill="solid"
        color="danger"
        size="small"
        [disabled]="!mozeDaOtkaze(termin.datum)"
        (click)="otkazi(termin)">
        <ion-icon name="close-circle-outline" slot="start"></ion-icon>
        Otkaži
      </ion-button>
    </ion-item>

    <ion-item *ngIf="termini.length === 0">
      <ion-label class="ion-text-center">
        <p>Nemate prijavljenih termina.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>