<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="korisnici" href="/admin/korisnici">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Korisnici</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="treneri" href="/admin/treneri">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Treneri</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="treninzi" href="/admin/treninzi">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Treninzi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qr" href="/admin/qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR Kod</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="onLogOut()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Odjavi se</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>