<ion-header class="ion-no-border">
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo-container">
    <div class="logo-icon">
      <ion-icon name="barbell"></ion-icon>
    </div>
    <h1 class="app-title">TRAIN<span>CLUB</span></h1>
    <p class="app-subtitle">Dobrodošli nazad!</p>
  </div>

  <div class="form-container">

    <p class="input-label">Email</p>
    <ion-item class="custom-item">
      <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
      <ion-input
        type="email"
        [(ngModel)]="email"
        placeholder="vas@email.com">
      </ion-input>
    </ion-item>

    <p class="input-label">Lozinka</p>
    <ion-item class="custom-item">
      <ion-icon name="lock-closed-outline" slot="start" color="medium"></ion-icon>
      <ion-input
        type="password"
        [(ngModel)]="password"
        placeholder="••••••••">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <ion-button expand="block" class="login-btn" (click)="login()">
      Prijavi se!
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>

    <div class="divider">
      <div class="line"></div>
      <span>ili</span>
      <div class="line"></div>
    </div>

    <ion-button expand="block" class="register-link" (click)="goToRegister()">
      Nemate nalog? <span class="accent">&nbsp;Registrujte se!</span>
    </ion-button>

  </div>

</ion-content>