<ion-header class="ion-no-border">
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo-container">
    <div class="logo-icon">
      <ion-icon name="barbell"></ion-icon>
    </div>
    <h1 class="app-title">TRAIN<span>CLUB</span></h1>
    <p class="app-subtitle">Kreirajte nalog</p>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <p class="input-label">Ime i prezime</p>
    <ion-item class="custom-item">
      <ion-icon name="person-outline" slot="start" color="medium"></ion-icon>
      <ion-input type="text" formControlName="name" placeholder="Vaše ime i prezime"></ion-input>
    </ion-item>
    @if (registerForm.get('name')!.invalid && registerForm.get('name')!.touched) {
      <p class="error-msg">Ime i prezime su obavezni!</p>
    }

    <p class="input-label">Email</p>
    <ion-item class="custom-item">
      <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
      <ion-input type="email" formControlName="email" placeholder="vas@email.com"></ion-input>
    </ion-item>
    @if (registerForm.get('email')!.invalid && registerForm.get('email')!.touched) {
      <p class="error-msg">Unesite validan email!</p>
    }

    <p class="input-label">Lozinka</p>
    <ion-item class="custom-item">
      <ion-icon name="lock-closed-outline" slot="start" color="medium"></ion-icon>
      <ion-input type="password" formControlName="password" placeholder="••••••••">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    @if (registerForm.get('password')!.invalid && registerForm.get('password')!.touched) {
      <p class="error-msg">Lozinka mora imati minimum 6 karaktera!</p>
    }

    <p class="input-label">Pol</p>
    <ion-item class="custom-item">
      <ion-select formControlName="gender" interface="popover" placeholder="Izaberite pol">
        <ion-select-option value="muski">Muški</ion-select-option>
        <ion-select-option value="zenski">Ženski</ion-select-option>
      </ion-select>
    </ion-item>
    @if (registerForm.get('gender')!.invalid && registerForm.get('gender')!.touched) { //.touched da li je korisnik kliknuo
      <p class="error-msg">Izaberite pol!</p>
    }

    <p class="input-label">Broj telefona</p>
    <ion-item class="custom-item">
      <ion-icon name="call-outline" slot="start" color="medium"></ion-icon>
      <ion-input type="tel" formControlName="phone" placeholder="06X XXX XXXX"></ion-input>
    </ion-item>
    @if (registerForm.get('phone')!.invalid && registerForm.get('phone')!.touched) {
      <p class="error-msg">Broj telefona je obavezan!</p>
    }

    <ion-button expand="block" type="submit" class="register-btn">
      Registruj se
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>

  </form>

  <ion-button expand="block" class="login-link" (click)="goToLogin()">
    Već imate nalog? <span class="accent">&nbsp;Prijavite se</span>
  </ion-button>

</ion-content>