<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="treninzi" href="/klijent/treninzi">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Treninzi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="moji-termini" href="/klijent/moji-termini">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Moji termini</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qr-kod" href="/klijent/qr-kod">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR Kod</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>